@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgb(9, 47, 11);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    position: fixed;
    border-bottom: solid 2px grey;
    z-index: 7;
    top: 0;

}

#logo {
    width: 140px;
    height: 80px;
    padding-right: 10px;
    padding-left: 10px;
    transition: 0.8s;
    display: flex;
    align-items: center;
    animation: flash 1.4s linear infinite;
    animation-fill-mode: both;
}

#logo:hover {
    background-color: grey;
    border-right: solid white 1px;
    border-left: solid white 1px;
}

.menu {
    width: 30%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#jeux {

    transition: 0.8s;
    padding: 21px;
    padding-left: 35px;
    padding-right: 35px;
}

#jeux:hover {
    background-color: grey;
    border-right: solid white 1px;
    border-left: solid white 1px;
}

header a {
    text-decoration: none;
    color: inherit;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: rgb(255, 193, 28);
    width: 320px;

}

.sub-menu li:hover a {
    background-color: grey;
    transition: 0.8s;
}

.sub-menu li {
    padding: 15px;
    border: solid white 1px;

}

header li {
    position: relative;
    list-style: none;
    text-decoration: none;
}

header li:hover {
    background-color: rgb(255, 193, 28);
    border-right: solid white 1px;
    border-left: solid white 1px;
}

header li:hover .sub-menu {
    display: block;
}

#fanart {
    font-family: 'Oswald', sans-serif;
    color: white;
    transition: 0.8s;
    padding: 21px;
    padding-left: 35px;
    padding-right: 35px;
}

#fanart:hover {
    background-color: rgb(255, 193, 28);
    border-right: solid white 1px;
    border-left: solid white 1px;
}

#synopsis {

    font-family: 'Oswald', sans-serif;

    transition: 0.8s;
    padding: 21px;
    padding-left: 35px;
    padding-right: 35px;
}

#synopsis:hover {
    background-color: rgb(255, 193, 28);
    border-right: solid white 1px;
    border-left: solid white 1px;
}

#contact {

    font-family: 'Oswald', sans-serif;

    transition: 0.8s;
    padding: 21px;
    padding-left: 35px;
    padding-right: 35px;
}

#contact:hover {
    background-color: rgb(255, 193, 28);
    border-right: solid white 1px;
    border-left: solid white 1px;
}



#accueil {
    background-image: url("images/gaming_painting_1_halo_final_1920.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.ligne1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.ligne1 img {
    margin-left: 2em;
}

.ligne2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    margin-left: 600px;
    
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

#titre {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Oswald', sans-serif;


}


#titre ul li {
    list-style: none;
    color: white;
    font-size: 70px;
    letter-spacing: 18px;
    animation: flash 1.4s linear infinite;
}

#titre ul {
    padding-left: 50px;
}

@keyframes flash {
    0% {
        color: white;
        text-shadow: none;
    }

    80% {
        color: rgb(17, 68, 19);
        text-shadow: none;
    }

    90% {
        color: rgb(17, 68, 19);
        text-shadow: 0 0 7px rgb(255, 193, 28), 0 0 50px ;
    }

    100% {
        color: white;
        text-shadow: 0 0 7px red, 0 0 50px red;
    }
}

#titre ul li:nth-child(1) {

    animation-delay: .3s;
}

#titre ul li:nth-child(2) {

    animation-delay: .6s;
}

#titre ul li:nth-child(3) {

    animation-delay: .9s;
}

#titre ul li:nth-child(4) {
    animation-delay: 1.2s;
}

#titre ul li:nth-child(5) {
    animation-delay: 1.5s;
}

.milieu {
    margin-top: 60px;
}

.halo {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    padding-top: 80px;
    border-bottom: solid 2px grey;
    border-top: solid 2px grey;
}

.video {
    position: relative;
    height: 704px;
}

.video2 video {

    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);

}



.championship {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 300px;
    margin-bottom: 300px;
    background-color: black;
    padding-top: 40px;
    border-bottom: solid 2px grey;
    border-top: solid 2px grey;
    padding-top: 70px;
}

.cadre2 {
    width: 100%;
    display: flex;

    height: 675px;
    width: 1300px;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.cadre {
    position: absolute;
    background-color: black;
    height: 600px;
    width: 300px;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.video2 {
    width: 100%;
    height: 704px;
}

.texte {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.texte p {
    height: 100%;
    width: 450px;
    padding-top: 60px;
    line-height: 2em;
    font-size: 20px;
}

.texte h2 {
    width: 700px;
    color: rgb(13, 55, 14);
    text-align: center;
    height: 150px;
    font-size: 40px;
    padding-top: 50px;
    opacity: 0.6;
}

#masterchief {
    background-image: url("images/Mcc_02_MediaGallery_2021_1920x1080.jpg");

    background-repeat: no-repeat;
}


#masterchief img {
    width: 100%;
    height: 100%;

}

.collection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 300px;
    width: 80%;
}

.collection {
    font-size: 60px;
}

#masterchief img {
    padding-right: 900px;
    height: 200px;
    width: 600px;
}

.gameplay {
    margin-top: 575px;
    background-color: #0b2c07;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 2px grey;
    border-top: solid 2px grey;
}

.clignote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    height: 550px;

}



.gameplay ul li {
    list-style: none;
    color: white;
    font-size: 70px;
    letter-spacing: 18px;
    animation: flash 3s linear infinite;
}

.gameplay ul li:nth-child(1) {

    animation-delay: .3s;
}

.gameplay ul li:nth-child(2) {

    animation-delay: .6s;
}

.gameplay ul li:nth-child(3) {

    animation-delay: .9s;
}

.gameplay ul li:nth-child(4) {
    animation-delay: 1.2s;
}

.gameplay ul li:nth-child(5) {
    animation-delay: 1.5s;
}

.gameplay ul li:nth-child(6) {
    animation-delay: 1.8s;
}

.gameplay ul li:nth-child(7) {
    animation-delay: 2.1s;
}

.gameplay ul li:nth-child(8) {
    animation-delay: 2.4s;
}

.gameplay iframe {
    border-right: solid 2px grey;
}

.gp {
    color: antiquewhite;
    font-size: 30px;
    margin-top: 150px;
    width: 600px;
}

#bodyfansite1 {
    background-image: url(images/the-cy-who-can-t-draw-halo18.jpg);
    background-attachment: fixed;
    background-size: cover;
}




.bandetop {
    background-color: #0b2c07;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    width: 100%;
    height: 100px;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    box-shadow: 0px 0px 30px red;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    align-items: center;
}

.bandetop ul li {
    list-style: none;
    color: white;
    font-size: 70px;
    letter-spacing: 18px;
    animation: flash 3s linear infinite;
}

.bandetop ul li:nth-child(1) {

    animation-delay: .3s;
}

.bandetop ul li:nth-child(2) {

    animation-delay: .6s;
}

.bandetop ul li:nth-child(3) {

    animation-delay: .9s;
}

.bandetop ul li:nth-child(4) {
    animation-delay: 1.2s;
}

.bandetop ul li:nth-child(5) {
    animation-delay: 1.5s;
}

.bandetop ul li:nth-child(6) {
    animation-delay: 1.8s;
}

.bandetop ul li:nth-child(7) {
    animation-delay: 2.1s;
}

.bandetop ul li:nth-child(8) {
    animation-delay: 2.4s;
}

.fansitemiddle {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;

}

.imagefanart1 {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.image1fanart1 {
    position: relative;
    z-index: 1;
    width: 400px;
    opacity: 1;
    border: solid white 1px;
    border-radius: 10px;
}

#paragraphefanart1 {
    position: absolute;
    z-index: 2;
    color: white;
    opacity: 0;
    height: 225px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    border-radius: 10px;
}

#paragraphefanart1:hover {
    opacity: 1;
    background-color: #0b2c07;
}

.imagefanart2 {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.image2fanart2 {
    position: relative;
    z-index: 1;
    width: 400px;
    height: 225px;
    opacity: 1;
    border: solid white 1px;
    border-radius: 10px;
}

#paragraphefanart2 {
    position: absolute;
    z-index: 2;
    color: white;
    opacity: 0;
    height: 225px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    border-radius: 10px;
}

#paragraphefanart2:hover {
    opacity: 1;
    background-color: #0b2c07;
    ;
}

.imagefanart3 {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


.image3fanart3 {
    position: relative;
    z-index: 1;
    width: 400px;
    height: 225px;
    opacity: 1;
    border: solid white 1px;
    border-radius: 10px;
}

#paragraphefanart3 {
    position: absolute;
    z-index: 2;
    color: white;
    opacity: 0;
    height: 225px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    border-radius: 10px;
}

#paragraphefanart3:hover {
    opacity: 1;
    background-color: #0b2c07;
    ;
}

.imagefanart4 {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.image4fanart4 {
    position: relative;
    z-index: 1;
    width: 400px;
    height: 225px;
    opacity: 1;
    border: solid white 1px;
    border-radius: 10px;
}

#paragraphefanart4 {
    position: absolute;
    z-index: 2;
    color: white;
    opacity: 0;
    height: 225px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    border-radius: 10px;
}

#paragraphefanart4:hover {
    opacity: 1;
    background-color: #0b2c07;
    ;
}

#boutonimagefanart {
    width: 253px;
    height: auto;
    color: white;
    border: solid white 1px;
    border-radius: 10px;
    background-color: red;
    padding: 10px;
    font-size: 30px;
    transition: 0.5s;
    margin-top: 30px;
}

#boutonimagefanart:hover {
    background-color: #0b2c07;
    box-shadow: 0px 0px 20px red;
}

#boutonimagefanart a {
    text-decoration: none;
    color: white;

}

.fansitevid1 {
    display: flex;
    flex-direction: row;
}

.fansitevid1 iframe {
    border: solid 2px grey;
}

#bodyfansite2 {
    background-image: url(images/Halo-Reach-Fan-Art.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.infinite {
    padding-top: 100px;
    color: white;
    font-size: 40px;
    width: 100%;
    height: 100px;
    background-color: #0b2c07;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px red;

}

.titrecampagne {
    color: white;
    font-size: 30px;
    width: 80%;
    height: 100px;
    background-color: #0b2c07;
    border: solid white 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 100px;
}

#slider {
    margin-top: 50px;
    margin-left: 25%;
    border: solid white 2px;
    border-radius: 10px;
}

#slider {
    width: 80%;
    max-width: 1000px;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
}

#slider figure img {
    width: 20%;
    height: auto;
    float: left;
}

#slider {
    width: 80%;
    max-width: 1000px;
    overflow: hidden
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 20s slidy infinite;
}

#textcampagne {
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Krona One', sans-serif;
    background-color: #0b2c07;
    line-height: 2em;
}

.titremultijoueur {
    color: white;
    font-size: 30px;
    width: 80%;
    height: 100px;
    background-color: #0b2c07;
    border: solid white 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 100px;
}

#cadreimagemultijoueur {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#imagemultijoueur {
    width: 800px;
    height: 500px;
    border: solid white 2px;
    border-radius: 10px;
}

#textmultijoueur {
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Krona One', sans-serif;
    background-color: #0b2c07;
    line-height: 2em;
}

.titreinfinite {
    color: white;
    font-size: 30px;
    width: 80%;
    height: 100px;
    background-color: #0b2c07;
    border: solid white 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 100px;
}

#cadreimageinfinite {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#imageinfinite {
    width: 800px;
    height: 500px;
    border: solid white 2px;
    border-radius: 10px;
}

#textinfinite {
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    font-family: 'Krona One', sans-serif;
    background-color: #0b2c07;
    line-height: 2em;
    margin-bottom: 150px;

}



input,
select,
textarea {
    background-color: rgba(199, 169, 0, 0.707);
    color: antiquewhite;
}

.principal12 textarea {
    height: 280px;
    width: 479px;
}

.principal12 {
    padding: 10% 10% 10% 20%;
    color: antiquewhite;
}


.tableau12 {

    width: 800px;
}

.cadre12 {
    background-color: rgba(44, 99, 65, 0.707);
    width: 800px;
    margin: 10em 10em 10em 10em;
    border: solid rgb(182, 152, 0)

}


#contact1 {
    background-image: url("images/wallpaper_halo_fan_art_01_1920x1080.jpg");
    height: auto;

}

.forme12 {
    font-size: 30px;
    width: 100%;
}

footer {
    background: -webkit-linear-gradient(to bottom, rgb(0, 0, 0), #0b2c07);
    background: linear-gradient(to bottom, black, #0b2c07);
    height: 593px;
    width: 100%;
    border-top: solid 5px white;
}

body#bodyfansite5 {
    background-color: rgb(3, 3, 3);
}

#titresynopsis {
    color: white;
    font-size: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 100px;
}

#soustitre1 {
    color: white;
    font-size: 30px;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    margin-top: 40px;
    padding: 10px;
    text-align: center;
}

#texte1synopsis {
    color: white;
    margin-top: 40px;
    font-size: 30px;
    padding: 30px;
    line-height: 2em;
}

#soustitre2 {
    color: white;
    font-size: 30px;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    margin-top: 40px;
    padding: 10px;
}

#texte2synopsis {
    color: white;
    margin-top: 40px;
    font-size: 20px;
    padding: 30px;
    line-height: 2em;
}